@{
    ViewData["Title"] = "Privacy Policy";
    
}
<h1>@ViewData["Title"]</h1>

<p> @ViewData["professor"]</p>
<p> @ViewData["email"]</p>
<address>
    <strong> more information: <a href="https://music.youtube.com/watch?v=7mRmGCY69dw&list=RDAMPLOLAK5uy_kCzVYgNuXI_ncIf63--xfUGSubxejXrKc" target="_blank">clique aki</a></strong>
    </address>
